@import "tailwindcss";

@theme {
  --color-orange: #ff8552;
  --color-yellow: #e9d758;
  --color-black: #050505;
  --color-cyan: #297373;
  --font-h1: "Josefin slab", serif;
  --font-h3: "Nothing You Could Do", cursive;
  --font-p: "Oswald", sans-serfif;
  --breakpoint-xlg: 1550px;
}



.closeButton:hover {
  background-color: #e9d758;
  color: rgb(18, 4, 4);
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.titulo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transition: transform 0.3s;
  background: cyan;
  transform: scaleX(0);
}

.titulo:hover::after {
  transform: scaleX(1);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}